<?xml version="1.0" encoding="UTF-8" ?>
<Configuration monitorInterval="1" status="info">
  <Properties>
      <Property name="layout">
          %style{%date{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}}{white} %style{[%-50.50thread]}{blue} %highlight{%-5level} %style{%-30.30logger}{cyan} - %msg%n
      </Property>
  </Properties>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${layout}" />
    </Console>
  </Appenders>

  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console" />
    </Root>
  </Loggers>
</Configuration>
