<?xml version="1.0" encoding="UTF-8" ?>
<Configuration monitorInterval="1" status="info">
  <Properties>
      <Property name="layout">
          %style{%date{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}}{white} [%style{%-40.40thread}{blue}] [%highlight{%-5level}] [%style{%-20.20logger}{cyan}] - %msg%n%throwable
      </Property>
  </Properties>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${layout}" />
    </Console>
  </Appenders>

  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console" />
    </Root>
  </Loggers>
</Configuration>
